html {
    background-color: #ccc;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    border: 50rem black;
    max-width: 50rem;
    border-radius: 10px;
    padding: 10px;                      
}

header {
    text-align: center;
    background-color: lightblue;
    padding: 5px;
}

article {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    display: flow-root;
}

article img {
    max-width: 15rem;
    float: left;
    border: 50rem;
    border-radius: 5px;
    margin-right: 5px;

}

footer {
    background-color: lightblue;
    min-height: 5rem;
    /* please don't change these values; you will have 
       plenty of chance to play with flex in the next problem */
    display: flex; 
    flex-order: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    /* this one is free! */
    min-width: 5rem;
}
.button {
    
}
