html{
    font-family: "Courier New", Courier;
}

article {
    background:  rgba(50, 38, 179, 0.795);
    flex-flow: row;
    max-width: 80rem;
    display: flex;
    border-top-right-radius: 20px;
}
header {
    background: rgb(206, 163, 22);
    text-align: center;
    padding: 20px
}
section.main { 
    margin-left: 10px ; 
    margin-right: 10px ;

}

section.sources {
    margin-right: 225px;
    padding: 20px ;
    background: rgb(206, 163, 22) ;
    text-align: center;
    border-bottom-right-radius: 20px;
}

section img {
    max-width: 30rem;
    float: left;
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 50px;
}